<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <title>Numeracy app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous" type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <style media="screen">
      .ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      .dummy {
        margin-top: 100%;
      }

      .thumbnail {
      position: absolute;
      top: 15px;
      bottom: 0;
      left: 15px;
      right: 0;
      text-align:center;
      padding-top:calc(50% - 30px);
      }

      .jumbotron{
        height: 20px;
      }

      .jumbotron >li{
        margin-top: -10px;
      }

      button {
        border: 2px solid black;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      p {
        text-align: center;
      }

      table {
        text-align: center;
        border-collapse: separate;
        border-spacing: 50px 0;
      }
    </style>
  </head>
  <body>
 {% block body %}
    {% if session['logged_in'] %}
    <div>
      <p>
        <form action="/" method="post">
          <button type="submit" name="logout" value="logout" class="btn btn-info" style="float:right;">Log out</button>
        </form>
        Hello {{session['username']}}! Welcome Back!
      </p>
   </div>
    {% else %}
    <p>Please <a href="/login">Log in/Register</a></p>
    {% endif %}
<!--
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div class=flashes>
         {% for category, message in messages %}
          <p class="{{ category }}">{{ message }}</p>
         {% endfor %}
        </div>
      {% endif %}
    {% endwith %}
  -->
    {% if finished_all != None %}
    <p> Congrats on finishing all of the questions in that category! Check out how you did below or try another category. </p>
    <script>
      $('#proj1').click();
    </script>
    {% endif%}
    <div class="display-3" style="text-align: center;">
      <p>Numeracy App</p>
    </div>
    <ul class="ul">
      <div class="jumbotron text-center" onclick="window.location.href='/question/1'">
        <li>
          Playground
          <p style="font-size:10px"> See what I can do! </p>
        </li>
      </div>
      <div class="jumbotron text-center" onclick="clk0()">
        <li>
          Let's get started
          <p style="font-size:10px"> By clicking, I consent for my data to be used for research </p>
        </li>
      </div>
      <script type="text/javascript">
        function clk0(){
          $( "#continuewhereyouleft" ).toggle("blind")
        }
      </script>
      <div id="continuewhereyouleft" class="" style="display:none">
        <div class="container">
          <p> Continue where you left off?
            {% if category == 'NA' %}
            <button onclick="window.location.href='/newquestion/1'"> yes </button>
            {% else %}
            <button onclick="window.location.href='/{{category}}/{{category_id}}'"> yes </button>
            {% endif %}
            <br/>
            <button onclick="window.location.href='/newquestion/1'"> no </button>
          </p>
        </div>
      </div>
          <div class="jumbotron text-center" onclick="clk4()">
            <li>Question categories</li>
          </div>
          <div id="categories" class="" style="display:none">
            <div class="container">
              <button onclick="clk6()"> All Questions </button>
              <br>
              <button onclick="clk5('one_variable')"> Single Variable </button>
              <br>
              <button onclick="clk5('one_variable_reciprocal')"> Single Variable (Reciprocals) </button>
              <br>
              <button onclick="clk5('two_variable')"> Two Variables </button>
              <br>
              <button onclick="clk5('two_variable_sequential')"> Two Variables (Solved sequentially)</button>
              <br>
              <button onclick="clk5('two_variable_reciprocal')"> Two Variables (Reciprocals)</button>
            </div>
          </div>
          <script type="text/javascript">
            function clk4(){
              $( "#categories" ).toggle("blind")
            }
            function clk5(category) {
              window.location.href='/' + category + '/1';
            }
            function clk6() {
              window.location.href='/newquestion/1';
            }
          </script>
      {% if user_info != None %}
      <div id="proj1"class="jumbotron text-center" onclick="clk2()">
        <li>My Profile</li>
      </div>
      <div id="proj" class="" style="display:none">
        <div class="container">
          {% if show_results != None  or finished_all != None %}
          <p> That was a fun session; check out how you did</p>
          {% endif%}
          <p>Last attempt: {{user_info[1]}} correct / {{user_info[0]}} attempted</p>
          <p>Overall: {{user_info[3]}} correct / {{user_info[2]}} attempted</p>
          <p> You have {{user_info[4] - user_info[3]}} questions to go! </p>
        </div>
      </div>
      <script type="text/javascript">
        function clk2(){
          $( "#proj" ).toggle("blind")
        }
      </script>
      {% endif %}
      <div class="jumbotron text-center" onclick="clk7()">
        <li>How are my friends doing?</li>
      </div>
      <div id="leaderboard" class="" style="display:none">
        <div class="container">
          <table align="center">
            <thead>
              <th>Position</th>
              <th>Name</th>
              <th>Correct Answers</th>
            </thead>
            <tbody>
              {% for i in topscore5 %}
                <tr>
                  <td>{{i[0]}}</td>
                  <td>{{i[1]}}</td>
                  <td>{{i[2]}}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <script type="text/javascript">
        function clk7(){
          $( "#leaderboard" ).toggle("blind")
        }
      </script>
      <div class="jumbotron text-center" onclick="clk1()">
        <li>About</li>
      </div>
      <div id="atg" class="" style="display:none">
        <div class="container">
          <p>This web-app has been developed by Zhilin Wang in a project at the University of Cambridge funded by the Cambridge Language Sciences Incubator Fund. Other members of the project are Ianthi Tsimpli, Minati Panda and Andrew Caines. We are interested in the interaction between literacy and numeracy, and the potential benefits of scaffolding for learning. For further enquiries, please contact us at apc38(at)cam(dot)ac(dot)uk</p>
        </div>
      </div>
      <script type="text/javascript">
        function clk1(){
          $( "#atg" ).toggle("blind")
        }
      </script>


    </ul>

<!--
    <div class="container">
	    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="dummy"></div>
          <a href="#x" class="thumbnail purple">Homepage</a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="dummy"></div>
          <a href="#x" class="thumbnail purple">View Profile</a>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="dummy"></div>
          <a href="#x" class="thumbnail purple">Something<br>2 lines</a>
  	   </div>
         <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="dummy"></div>
          <a href="#x" class="thumbnail purple">Something 2 lines</a>
  	   </div>
     </div>
   </div>
 -->
    {% endblock %}
    {% if show_results != None %}
    <script>
      $('#proj1').click();
    </script>
    {% endif%}
    {% if finished_all != None %}
    <script>
      $('#proj1').click();
    </script>
    {% endif%}
  </body>
</html>
