<!DOCTYPE html> <!-- have this to indicate the type of the document -->
<!-- To show source code for HTML, click "ctrl + U" on the webpage -->
<!-- Useful for dynamic programming using PHP where you can't see the source code straight away -->
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <!-- This is the title on the web tab -->
    <title>Home</title>
  </head>
  <body>
    <!-- Heading shown on the browser page -->
    <h1> What are you looking at? </h1>
    <h2> <a href="http://google.com" target="_blank"> Heading 2 </a></h2>
    <h3> Heading 3 </h3>
    <h4> Heading 4 </h4>
    <h5> Heading 5 </h5>
    <h6> heading 6 </h6>
    <!-- Paragraph shown on the browser page -->
    <p> Work hard and play harder later to do well in year 2 please.
    Lorem ipsum <b>dolor sit amet</b> , consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <!-- Lists -->
    <ul> <!-- unordered list -->
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 3</li>
      <li>List Item 4</li>
    </ul>

    <ol> <!-- ordered list -->
      <li>List Item 1</li>
      <li>List Item 2</li>
      <li>List Item 3</li>
      <li>List Item 4</li>
    </ol>

    <!-- Table -->
    <table>
      <!-- head of the table -->
      <thead>
        <tr><!-- contain table row -->
          <th>Name</th> <!-- headings of the table column -->
          <th>Email</th>
          <th>Age</th>
        </tr>
      </thead>
      <!-- body of the table with the data-->
      <tbody>
        <tr>
          <td>Jenna</td>
          <td>rz296@cam.ac.uk</td>
          <td>21</td>
        </tr>
        <tr>
          <td>Shaw</td>
          <td>yx286@cam.ac.uk</td>
          <td>21</td>
        </tr>
        <tr>
          <td>Samantha</td>
          <td>sk296@cam.ac.uk</td>
          <td>21</td>
        </tr>
      </tbody>
    </table>

    <!-- Form --> <!-- which is like a form to intake information from the users, hence required dynamic programming-->
    <form action="index.html" method="post">
    <!-- POST request: add to the database
         GET request: search for sth -->
    </form>
    <!-- Image -->
    <!-- Must put images in the static file -->
    <a href="images/anitta.jpg">
       <img src="../static/images/anitta.jpg" alt="My Sample Image">
    </a>

    <!-- Make the webpage have 500px on top so that it can be scrolled-->
    <div style="margin-top:500px"></div>
  </body>
</html>
